html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body, h4 {
    margin-bottom: 60px;
    font-family: 'Quicksand', sans-serif;
    background-color: #F5F5DC;
}

h4 {
    margin: auto;
    padding: 0;
}

.navbar {
    background-color: #006400 !important;
}

    .navbar .navbar-brand, .navbar .nav-link {
        color: #F5F5DC !important;
    }

.navbar-brand, h1 {
    font-family: 'Handlee';
}

.btn-home {
    background-color: #006400;
    color: #F5F5DC;
}

    .btn-home:hover {
        background-color: #008000;
    }

footer {
    background-color: #006400;
    color: #F5F5DC;
}

.footer a {
    color: #F5F5DC;
}

    .footer a:hover {
        color: #D2B48C;
    }