@page
@model Safari.Web.Pages.Admin.ApproveEditImagePageModel

@{
    ViewData["Title"] = "Approve/Edit Image";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
else if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
        <a asp-page=".\AdminImages">Back to List</a>
    </div>
}

<h1>Approve/Edit Image</h1>

<h4>Toggle "Approval Status" to approve. Edit any other fields as needed. Click save when finished.</h4>
<br />
<h4>
    Note: The "Not Approved" status hides the image on the website but does not remove it.<br />
    To remove the image completely, you must click "Delete" from the Moderate Images page.
</h4>
<hr />

<div class="row">
    <div class="col-lg-auto">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AnimalPic.AnimalPicId" />

            <div class="form-group">
                <label asp-for="AnimalPic.AnimalId" class="control-label">Animal</label>
                <select asp-for="AnimalPic.AnimalId" class="form-control" asp-items="ViewBag.AnimalId"></select>
                <span asp-validation-for="AnimalPic.AnimalId" class="text-danger"></span>
                <br />
            </div>

            <div class="form-group">
                @if (!string.IsNullOrEmpty(Model.AnimalPic.FileName))
                {
                    <img src="~/images/@Model.AnimalPic.FileName?version=@DateTime.UtcNow.Ticks" alt="Animal Image" style="max-width: 50%;" />
                }
                <br />
                <br />
                <label asp-for="AnimalPic.FileName" class="control-label"></label>
                <input asp-for="AnimalPic.FileName" class="form-control" readonly style="background-color: #f8f9fa; color: #6c757d;" />
                <br />
            </div>

            <input type="hidden" asp-for="AnimalPic.FilePath" />

            <div class="form-group">
                <label asp-for="AnimalPic.AltText" class="control-label"></label>
                <input asp-for="AnimalPic.AltText" class="form-control" />
                <span asp-validation-for="AnimalPic.AltText" class="text-danger"></span>
                <br />
            </div>

            <div class="form-group">
                <label asp-for="AnimalPic.Source" class="control-label"></label>
                <input asp-for="AnimalPic.Source" class="form-control" />
                <span asp-validation-for="AnimalPic.Source" class="text-danger"></span>
                <br />
            </div>

            <div class="form-group">
                <label asp-for="AnimalPic.DateSubmitted" class="control-label"></label>
                <input asp-for="AnimalPic.DateSubmitted" class="form-control" readonly style="background-color: #f8f9fa; color: #6c757d;" />
                <br />
            </div>
            <br />

            <div class="form-group">
                <label asp-for="AnimalPic.IsApproved" class="control-label">
                    Approval Status
                    <i class="far fa-question-circle" title="Select 'Approved' to allow the image to display on the website.
                        Select 'Not Approved' to hide it."></i>
                </label>
                <select asp-for="AnimalPic.IsApproved" class="form-control">
                    <option value="true">Approved</option>
                    <option value="false">Not Approved</option>
                </select>
                <span asp-validation-for="AnimalPic.IsApproved" class="text-danger"></span>
                <br />
            </div>

            <div class="row">
                <div class="col-md-auto">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a class="btn btn-secondary" asp-page="./AdminImages">Back to List</a>
                </div>                
            </div>

        </form>
    </div>
</div>






