@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid text-center">
    <h1 class="display-4">Welcome to...</h1>
    @*<img class="mx-auto img-fluid" src=".\images\logo.png" style="max-width: 50%; height: auto;" />*@
</div>
<br />
<br />
<div class="container-fluid text-left">
    <p>Mr. Mori and his friends have traveled all across the United States searching for the wildest, most exotic animals. 
       To view a list of all the animals he has found, click the <b>View All Animals</b> button below, or you can explore the
       the <b>Interactive Map</b>. If you have found an interesting animal of your own, you can submit it to the site by 
       clicking the <b>Submit an Animal</b> button. You can also submit additional images of animals that have already been 
       found by clicking the <b>Submit an Image</b>.
    </p>
</div>
<br />
<br />
<div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary btn-lg" href="">View All Animals</a> <br /><br />
            </div>
            <div class="col-md-6">
            <a class="btn btn-primary btn-lg" href="SubmitAnimal">Submit an Animal</a> <br /><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary btn-lg" href="">Interactive Map</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary btn-lg" href="">Submit an Image</a> <br /><br />
            </div>
        </div>
</div>
