@*This is the home page, which is displayed first when the user reaches the website.*@

@page
@model IndexPageModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid text-center">
    <h1 class="display-4">Welcome to Safari Across America!</h1>
    <img class="mx-auto img-fluid" src=".\images\SafariAcrossAmerica.jpg" style="max-width: 50%; height: auto;" />
</div>
<br />
<br />
<div class="container-fluid text-center">
    <div>
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary btn-lg btn-home" asp-page="ViewAnimals">View All Animals</a> <br /><br />
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary btn-lg btn-home" asp-page="SubmitAnimal">Submit an Animal</a> <br /><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary btn-lg btn-home" asp-page="Map">Interactive Map</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary btn-lg btn-home" asp-page="SubmitImage">Submit an Image</a> <br /><br />
            </div>
        </div>
    </div>
</div>
