@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid text-center">
    <h1 class="display-4">Welcome to...</h1>
    @*<img class="mx-auto img-fluid" src=".\images\logo.png" style="max-width: 50%; height: auto;" />*@
</div>
<br />
<br />
<div class="container-fluid text-center">
    <div>
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary btn-lg" asp-page="ViewAnimals">View All Animals</a> <br /><br />
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary btn-lg" asp-page="SubmitAnimal">Submit an Animal</a> <br /><br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary btn-lg" asp-page="Map">Interactive Map</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary btn-lg" asp-page="SubmitImage">Submit an Image</a> <br /><br />
            </div>
        </div>
    </div>
</div>
