@*This is the References page, which informs the user of the source of the information for this project.
    For the purposes of this project, all information is taken from other sources. The sources are listed in the alt text for
    images, the "source" field in the AnimalPic table, and as an APA reference in each Animal Description.*@

@page
@model ReferencesPageModel
@{
    ViewData["Title"] = "References";
}
<h1>@ViewData["Title"]</h1>

<p>Safari Across America was created by Laurence Finn for educational purposes. 
    Any images or text taken from other sites are referenced in the areas in which they appear.</p>
