@page
@model Safari.Web.Pages.SubmitAnimalPageModel

@{
    ViewData["Title"] = "SubmitAnimal";
}

@if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
else if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <p>Please correct the following errors:</p>
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<h1>Submit an Animal</h1>

<h4>
    Help us track the exotic wildlife of the United States by submitting a new animal.<br />
    If you don't know something, it's okay to leave it blank. Only fields with a <span class="text-danger">red asterisk (*)</span> are required.
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Animal.Name" class="control-label">
                    Name<span class="text-danger">* </span> 
                    <i class="far fa-question-circle" title="Enter the name of the animal."></i>
                </label>
                <input asp-for="Animal.Name" class="form-control" />
                <span asp-validation-for="Animal.Name" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="SelectedStateIds" class="control-label">
                    States
                    <i class="far fa-question-circle" title="Select the states where the animal lives."></i>
                    </label>
                <select asp-for="SelectedStateIds" class="form-control" asp-items="ViewBag.StateId" multiple></select>
                <span asp-validation-for="SelectedStateIds" class="text-danger"></span>
                <br />

            </div>
            <div class="form-group">
                <label asp-for="Animal.AnimalTypeId" class="control-label">
                    Animal Type
                    <i class="far fa-question-circle" title="What kind of animal is it? Choose from the list."></i>
                </label>
                <select asp-for="Animal.AnimalTypeId" class ="form-control" asp-items="ViewBag.AnimalTypeId">
                    <option value="">Select an Animal Type</option>
                </select>
                <br />

            </div>
            <div class="form-group">
                <label asp-for="Animal.DietTypeId" class="control-label">
                    Diet
                    <i class="far fa-question-circle" title="What diet does the animal have? Choose from the list."></i>
                </label>
                <select asp-for="Animal.DietTypeId" class ="form-control" asp-items="ViewBag.DietTypeId">
                    <option value="">Select a Diet Type</option>
                </select>
                <br />

            </div>
            <div class="form-group">
                <label asp-for="Animal.Weight" class="control-label">
                    Average Weight (pounds)
                </label>
                <input asp-for="Animal.Weight" class="form-control" />
                <span asp-validation-for="Animal.Weight" class="text-danger"></span>
                <br />

            </div>
            <div class="form-group">
                <label asp-for="Animal.Height" class="control-label">
                    Average Height (inches)
                </label>
                <input asp-for="Animal.Height" class="form-control" />
                <span asp-validation-for="Animal.Height" class="text-danger"></span>
                <br />

            </div>
            <div class="form-group">
                <label asp-for="Animal.Length" class="control-label">
                    Average Length (inches)
                </label>
                <input asp-for="Animal.Length" class="form-control" />
                <span asp-validation-for="Animal.Length" class="text-danger"></span>
                <br />

            </div>
            <div class="form-group">
                <label asp-for="Animal.IsEndangered" class="control-label">
                    Is the animal endangered?
                </label>
                <select asp-for="Animal.IsEndangered" class="form-control">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <br />

            </div>
            <div class="form-group">
                <label asp-for="Animal.Lifespan" class="control-label">
                    Average Lifespan (years)
                </label>
                <input asp-for="Animal.Lifespan" class="form-control" />
                <span asp-validation-for="Animal.Lifespan" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="AnimalDescription.Description" class="control-label">
                    Description
                    <i class="far fa-question-circle" title="Tell us a little about the animal. This is your chance to share fun facts!"></i>
                </label>
                <textarea asp-for="AnimalDescription.Description" class="form-control"></textarea>
                <span asp-validation-for="AnimalDescription.Description" class="text-danger"></span>
                <span asp-validation-for="AnimalDescription" class="text-danger"></span>
                <br />
            </div>
            @await Html.PartialAsync("_ImageFormPartial", Model.AnimalPic)
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <div>
                        <input type="submit" value="Submit Animal" class="btn btn-success" />
                    </div>
                    <div>
                        <input type="reset" value="Reset Form" class="btn btn-danger" asp-page-handler="ResetForm" asp-page="SubmitAnimal" onclick="window.scrollTo(0, 0);" />
                    </div>
                    <div>
                        <a class="btn btn-secondary" asp-page="Index">Back to Home</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
