@page
@model Safari.Web.Pages.SubmitImagePageModel

@{
    ViewData["Title"] = "Submit Image";
}

@if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
else if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <p>Please correct the following errors:</p>
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<h1>Submit an Image</h1>

<h4>
    Choose an animal from the database, and upload an image.
    If you found the image from another website, please include the link in the "source"
    so that we can verify whether we're allowed to post it on our site.    
</h4>
<br />
<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AnimalPic.AnimalId" class="control-label">
                    Animal<span class="text-danger">* </span>
                    <i class="far fa-question-circle" title="Select the animal from your image."></i>
                </label>
                <select asp-for="AnimalPic.AnimalId" class="form-control" asp-items="ViewBag.AnimalId">
                    <option value="">Select an Animal</option>
                </select>
                <span asp-validation-for="AnimalPic.AnimalId" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="AnimalPic.File" class="control-label">
                    Image File
                    <i class="far fa-question-circle" title="Upload a royalty-free picture of the animal."></i>
                </label>
                <br />
                <input asp-for="AnimalPic.File" type="file" class="form-control-file" accept="image/*" />
                <span asp-validation-for="AnimalPic.File" class="text-danger"></span>
                <span asp-validation-message="AnimalPic.File" class="text-danger"></span>
                <br />
                <br />
            </div>

            <div class="form-group">
                <label asp-for="AnimalPic.AltText" class="control-label">Caption for the Image. If you need to cite a copyright or other credit, do so here.</label>
                <input asp-for="AnimalPic.AltText" class="form-control" />
                <span asp-validation-for="AnimalPic.AltText" class="text-danger"></span>
                <br />
            </div>

            <div class="form-group">
                <label asp-for="AnimalPic.Source" class="control-label">
                    Where did you get the picture from?
                    <i class="far fa-question-circle" title="If you took the photo yourself, enter 'Self.' If you got the picture from a website, please provide the link, or provide the copyright information."></i>
                </label>
                <input asp-for="AnimalPic.Source" class="form-control" />
                <span asp-validation-for="AnimalPic.Source" class="text-danger"></span>
                <br />
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input type="submit" value="Submit Image" class="btn btn-success" />
                    <input type="reset" value="Reset Form" class="btn btn-danger"
                           asp-page-handler="ResetForm" asp-page="SubmitImage" onclick="window.scrollTo(0, 0);" />
                    <a class="btn btn-secondary" asp-page="Index">Back to Home</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
