@page
@model Safari.Web.Pages.Animals.ViewAnimalsPageModel

@{
    ViewData["Title"] = "View All Animals";
}

<h1>View All Animals</h1>

<p>
    <a asp-page="SubmitAnimal">Submit an Animal</a>
    <br />
    <a asp-page="Index">Back to Home</a>
</p>

@await Html.PartialAsync("_AnimalTablePartial", Model.Animal)

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#AnimalTable').DataTable();
        });
    </script>
}