@*This is the View All Animals page. It is intended to provide another method for the user to view all the animals in the database,
    instead of clicking through the interactive map.*@

@page
@model Safari.Web.Pages.Animals.ViewAnimalsPageModel

@{
    ViewData["Title"] = "View All Animals";
}

<h1>Animals</h1>

<h4>
    This is a list of all the animals that have been submitted to the Safari Across America website.
    <br />
    Please help us track all of the wildlife of the USA by <a asp-page="SubmitAnimal">submitting a new animal.</a>
</h4>
<br />
<br />

@*Render the Animal Table partial view, _AnimalTablePartial.cshtml.*@
@await Html.PartialAsync("_AnimalTablePartial", Model.Animal)

@*The JavaScript for this page sets the Animal Table as a DataTable with default settings.*@
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#AnimalTable').DataTable();
        });
    </script>
}