@page
@model Safari.Web.Pages.Animals.ViewAnimalsPageModel

@{
    ViewData["Title"] = "View All Animals";
}

<h1>Animals</h1>

<h4>
    This is a list of all the animals that have been submitted to the Safari Across America website.
    <br />
    Please help us track all of the wildlife of the USA by <a asp-page="SubmitAnimal">submitting a new animal.</a>
</h4>
<br />
<br />

<a class="btn btn-primary btn-lg btn-home" asp-page="Index">Back to Home</a>
<br />
<br />

@await Html.PartialAsync("_AnimalTablePartial", Model.Animal)

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#AnimalTable').DataTable();
        });
    </script>
}